/.git
/.gitignore

/node_modules

/tmp/*
!/tmp/.keep

/log/*
!/log/.keep

/tmp/pids/*
!/tmp/pids/.keep

/storage/*
!/storage/.keep

/public/assets
/public/packs
/public/packs-test
/yarn-error.log
yarn-debug.log*

/Dockerfile*
/docker-compose.*
/.gitlab-ci.yml
/.dockerignore
/*.un~
