%h1 Here are the Things you've ordered.

%p
  Create some new
  = link_to 'Things', new_thing_url

- if things.count.zero?
  %p There are no Things in the system... yet!
- else
  - things.each do |t|
    = render partial: 'thing', locals: { thing: t }
