- if things.size.zero?
  %h1 
    There's nothing to see here. You should
    = link_to ' add some Things to track.', new_thing_url
- else
  %h1 Here are the Things you've ordered.

  %p
    Create some new
    = link_to 'Things', new_thing_url

  = render partial: 'thing', locals: { things: things }
