// Holds styling information for tables and other things index pages will use frequently.

.index-table {
  border: solid 4px;

  th {
    border: solid 2px;
    color: $dark-lava;
    background-color: $mid-gray;
  }

  tr {
    &:nth-child(even) {
      background-color: $alabaster;
    }

    &:nth-child(odd) {
      background-color: $pale-silver;
    }
  }

  td {
    border: solid 1px;
    color: $dark-lava;

    a {
      color: $dark-lava;
      @apply font-bold
    }
  }
}
